*.o
.*.swp
/env
/dl
/.config
/.config.old
/.toolchain_build_ver
/bin
/build_dir
/tmp
/logs
/feeds
/feeds.conf
/files
/overlay
/*.patch
/llvm-bpf*
/logs
/__pycache__
config.yaml
passwords.yaml
key-build*
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
.project
.cproject
.ccache
.vscode*
*.bak
.kiro
